<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>controller.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/RoleServlet</url-pattern>
  </servlet-mapping>
  <display-name>person1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PersonServlet</display-name>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>controller.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/PersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRoleServlet</display-name>
    <servlet-name>EditRoleServlet</servlet-name>
    <servlet-class>controller.EditRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoleServlet</servlet-name>
    <url-pattern>/EditRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoleServlet</display-name>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <servlet-class>controller.DeleteRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <url-pattern>/DeleteRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPersonServlet</display-name>
    <servlet-name>EditPersonServlet</servlet-name>
    <servlet-class>controller.EditPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPersonServlet</servlet-name>
    <url-pattern>/EditPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePersonServlet</display-name>
    <servlet-name>DeletePersonServlet</servlet-name>
    <servlet-class>controller.DeletePersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePersonServlet</servlet-name>
    <url-pattern>/DeletePersonServlet</url-pattern>
  </servlet-mapping>
</web-app>